@import "../../Constant/colors.module.scss";
body {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.loginForm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  margin: auto;
  text-align: center;
  padding: 30px;
  width: 25%;
  min-width: 330px;
  max-height: 410px;
  overflow: auto;
}
.loginForm_text__warning {
  color: $red;
  font-size: 0.8rem;
}
.loginForm_emailIcon {
  margin-right: 2%;
}
.loginForm_btn {
  margin-top: 2%;
  height: 40px;
}
.loginForm_buttonText {
  margin-right: 5%;
}
.loginForm_loader {
  margin-top: 5%;
  margin-bottom: 5%;
}
.loginForm_link {
  user-select: none;
}
