.main {
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 90%;
}
.emailIcon {
  margin-right: 2%;
}
.LoginButton {
  height: 40px;
}
.LoginButtonText {
  margin-right: 5%;
}
.logo {
  float: left;
  width: 150px;
  height: 150px;
  margin-left: 5%;
}
.paper {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
  width: 25%;
}

.form {
  width: 100%;
  height: 80%;
}

.signUpLink {
  width: 100%;
  text-decoration: "none";
  color: "#303f9f";
  font-weight: "bolder";
  user-select: none;
}
.errorText {
  color: tomato;
  font-size: 0.8rem;
}
