@import "../../Constant/colors.module.scss";
body {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.login_form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  margin: auto;
  text-align: center;
  padding: 30px;
  width: 25%;
  min-width: 330px;
  max-height: 410px;
  overflow: auto;
}
.emailIcon {
  margin-right: 2%;
}
.login_button {
  margin-top: 2%;
  height: 40px;
}
.login_button_text {
  margin-right: 5%;
}
.logo {
  z-index: 1;
  width: 150px;
  height: 150px;
  margin-left: 5%;
}
.signup_link {
  user-select: none;
}
.warning {
  color: $red;
  font-size: 0.8rem;
}
