@import "../../../Constant/colors.module.scss";

@mixin icon {
  font-size: 2.5rem;
  display: block;
}
.form_marsIcon {
  @include icon;
  color: $blue-1;
}
.form_venusIcon {
  @include icon;
  color: $pink;
}

.form_dialog {
  background-color: $white-2;
  text-align: center;
  height: 100%;
}
.form_description {
  margin-top: 5%;
  background-color: white;
  text-align: center;
}

.form_dialogAction {
  background-color: $white-2;
  margin-top: 2%;
}
.form_text {
  font-size: 0.8rem;
  color: $silver-1;
}

.form_btn {
  color: $silver-1;
}
