.container {
  width: 20%;
  border: black;
  border-width: 2px;
}
.signOutBtn {
  position: absolute;
  bottom: "0px";
  width: 20%;
  background-color: #227092;
  height: 3rem;
  box-shadow: 0px 0px 2px black;
  color: white;
}
