@import "../../Constant/colors.module.scss";

.filterBar {
  display: flex;
}
.filterBar_input {
  width: 65%;
  align-self: center;
  border-radius: 0.2rem;
  padding: 3%;
  padding-left: 15%;
  background-color: $black-2;
  display: block;
  margin-left: 5%;
  border: none;
  color: $grey-1;
}
.filterBar_btn {
  position: absolute;
  margin-left: 8%;
  margin-top: 2.5%;
  color: $grey-1;
}
input:focus {
  outline: none;
}
