// This file contains all the break point in the project
// main break point for this project
$md: 768px;
$md_767: 767px;
// alternative break point for this project
$xl: 1199px;
$lg: 991px;
$xs_sm: 575px;
$pro: 834px;
