// This files contains all the colors for this project
$black: #000000;
$white: #fff7f7;
$white-1: #f3f2f2;
$white-2: #ffffff;
$blue: #00c1ff;
$blue-1: #3fbfbf;
$green: #bdf864;
$green-1: #5b8c00;
$silver: #c0c0c0;
$silver-1: rgba(0, 0, 0, 0.54);
$black: #000000;
$black-1: #2c2c2c;
$black-2: #201f1f;
$red: #ff6347;
$red-1: #9c1919;
$pink: #c95e93;
$light-grey: #d3d3d3;
$grey: #808080;
$grey-1: rgba(255, 255, 255, 0.438);
