@import "../../Constant/colors.module.scss";

.searchForm_addIcon {
  color: $grey-1;
}
.searchForm_header {
  font-size: 1rem;
  margin-left: 7.5%;
}
.searchForm_searchIcon {
  color: $blue-1;
  margin-top: 5%;
  margin-left: 2%;
}
.searchForm_inputField {
  width: 75%;
  min-width: 50%;
  margin-left: 7.5%;
  margin-bottom: 5%;
}
.searchForm_img {
  width: 50%;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.searchForm_container {
  margin-bottom: 5%;
  max-height: 140px;
}
