.container {
  background-color: white;
  min-height: 85%;
  width: 20%;
  margin-left: 15%;
  margin-top: 2%;
  position: fixed;
  border-radius: 0.5rem;
  border-left: 0.05rem solid lightgray;
  border-right: 0.05rem solid lightgray;
}
.listItem {
  cursor: pointer;
}
.newChatBtn {
  height: 10%;
  background-color: lightblue;
  color: #000;
}
.unreadMessage {
  color: "red";
  position: "absolute";
  right: "5%";
}
.chatHeader {
  width: 100%;
  height: 3rem;
  display: block;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  background-color: lightgrey;
}
