@import "../../Constant/colors.module.scss";
.friendList {
  background-color: rgb(44, 44, 44);
  width: 20%;
  min-width: 150px;
  height: 85%;
  margin-top: 2%;
  position: absolute;
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  overflow-y: auto;
  overflow-x: visible;
  margin-left: 5%;
}
.friendList_item {
  cursor: pointer;
  color: white;
}
.friendList_message {
  color: rgba(255, 255, 255, 0.438);
  font-size: 14px;
}
.friendList_username {
  margin-left: 3px;
  width: 100%;
  min-width: 200px;
  height: 4rem;
  display: flex;
  border-radius: 0.3rem 0rem 0rem 0rem;
  background-color: rgb(44, 44, 44);
  line-height: 4rem;
  font-size: 19px;
  color: white;
  text-align: center;
  user-select: none;
  border: none;
}
