@import "../../Constant/colors.module.scss";
.container {
  background-color: rgb(44, 44, 44);
  height: 85%;
  width: 20%;
  min-width: 15%;
  margin-left: 15%;
  margin-top: 2%;
  position: absolute;
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  overflow-y: scroll;
}
.list_item {
  cursor: pointer;
  color: white;
}
.message {
  color: rgba(255, 255, 255, 0.438);
  font-size: 14px;
}
.newChat_btn {
  height: 10%;
  background-color: lightblue;
  color: #000;
}
.notification {
  color: "red";
  position: "absolute";
  right: "5%";
}
.chat_header {
  width: 100%;
  height: 4rem;
  display: flex;
  border-radius: 0.3rem 0rem 0rem 0rem;
  background-color: rgb(44, 44, 44);
}
.user_avatar {
  margin-left: 3px;
  border: none;
}
.user_name {
  margin-top: 2px;
  line-height: 4rem;
  font-size: 19px;
  color: white;
  text-align: center;
  user-select: none;
}
