.container {
  position: fixed;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 2%;
  border: 0.05rem solid lightgray;
  width: 50%;
  height: 55%;
  margin-left: 30.1%;
}
.conversation {
  overflow: scroll;
  background-color: white;
  margin-top: 3rem;
  height: 100%;
}

.userSent {
  margin-right: 10%;
  float: right;
  clear: both;
  overflow: hidden;
  max-width: 70%;
  margin-top: 5%;
  padding: 1.2rem;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #66a3ff;
  color: white;
  border-radius: 0.5rem;
}
.friendSent {
  margin-left: 10%;
  margin-top: 5%;
  max-width: 70%;
  overflow: hidden;
  float: left;
  clear: both;
  padding: 1.2rem;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: silver;
  color: white;
  border-radius: 0.5rem;
}
.chatHeader {
  width: inherit;
  height: 3rem;
  background-color: lightgrey;
  text-align: center;
  position: fixed;
  display: block;

  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.iconBtn {
  margin-top: 5px;
}

.btn {
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  margin-right: 20px;
  background-color: lightgrey;
  outline: none;
}
