@import "../../Constant/colors.module.scss";
.footer_container {
  margin-left: 3%;
  position: absolute;
  bottom: 8%;
  width: 100%;
}

.footer_button {
  font-size: 0.7rem;
  font-family: unset;
  font-family: Helvetica;
  cursor: pointer;
  color: $white-1;
  padding-left: 5px;
  padding-right: 5px;
}
.buttonn_separator {
  color: $white-1;
}
.copyright {
  color: $white-1;
  font-size: 0.7rem;
  margin-left: 55%;
  white-space: nowrap;
  overflow: hidden;
}
