@import "../../Constant/colors.module.scss";
.footer {
  margin-left: 3%;
  position: absolute;
  bottom: 8%;
  width: 100%;
}

.footer_button {
  font-size: 0.7rem;
  font-family: unset;
  font-family: Helvetica;
  cursor: pointer;
  color: $white-1;
  padding-left: 5px;
  padding-right: 5px;
}
.footer_separator {
  color: $white-1;
}
.footer_copyright {
  color: $white-1;
  font-size: 0.7rem;
  position: absolute;
  margin-top: 8px;
  right: 100px;
}
