.footerContainer {
  margin-left: 3%;
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.footerButton {
  font-size: 0.7rem;
  font-family: unset;
  font-family: Helvetica;
  cursor: pointer;
  color: rgb(243, 242, 242);
  padding-left: 5px;
  padding-right: 5px;
}
.buttonSeparator {
  color: rgb(243, 242, 242);
}
.copyright {
  color: rgb(243, 242, 242);
  font-size: 0.7rem;
  margin-left: 55%;
  white-space: nowrap;
  overflow: hidden;
}
