@import "../../Constant/colors.module.scss";

.container {
  position: absolute;
  margin-top: 2%;
  width: 50%;
  height: 60%;
  margin-right: 100px;
  min-width: 400px;
}
.header {
  height: 3rem;
  z-index: 1;
  min-width: 50%;
  background-color: $white-1;
  text-align: center;
  position: fixed;
  display: block;
  border-radius: 0rem 0.3rem 0rem 0rem;
  border-bottom: 1.5px solid $silver;
}
.header_username {
  text-align: center;
  line-height: 3rem;
}
.chatView {
  overflow: scroll;
  background-color: $white-1;
  top: 200px;
  height: 100%;
  border-radius: 0rem 0.3rem 0rem 0rem;
}

.chatView_spacing {
  margin-top: 8%;
}

.chatView_userMsg {
  margin-right: 5%;
  float: right;
  clear: both;
  overflow: hidden;
  max-width: 60%;
  margin-top: 5%;
  font-size: 14px;
  padding: 0.8rem;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: $green;
  color: black;
  border-radius: 0.3rem;
}
.chatView_text {
  letter-spacing: 0.8px;
}
.chatView_friendAvatar {
  margin-top: 5%;
  margin-left: 5%;
}
.chatView_userAvatar {
  overflow: hidden;
  margin-top: 5%;
  margin-right: 5%;
}

.chatView_friendMsg {
  padding: 0.8rem;
  margin-left: 5%;
  margin-top: 5%;
  max-width: 60%;
  overflow: hidden;
  float: left;
  font-size: 14px;
  border: 1.5px solid $silver;
  clear: both;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: $white;
  color: black;
  border-radius: 0.3rem;
}
