@import "../../Constant/colors.module.scss";

.container {
  position: absolute;
  margin-top: 2%;
  width: 50%;
  height: 60%;
  margin-left: 30.1%;
}
.spacing {
  height: 10%;
}
.conversation {
  overflow: scroll;
  background-color: $white-1;
  top: 200px;
  height: 100%;
}
.user_name {
  text-align: center;
  line-height: 3rem;
}
.user_message {
  margin-right: 13%;
  float: right;
  clear: both;
  overflow: hidden;
  max-width: 60%;
  margin-top: 5%;
  font-size: 14px;
  padding: 0.8rem;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: $green;
  color: black;
  border-radius: 0.3rem;
}
.message_text {
  letter-spacing: 0.8px;
}
.friend_message {
  padding: 0.8rem;
  margin-left: 13%;
  margin-top: 5%;
  max-width: 60%;
  overflow: hidden;
  float: left;
  font-size: 14px;
  border: 1.5px solid $silver;
  clear: both;

  box-sizing: border-box;
  word-wrap: break-word;
  background-color: $white;
  color: black;
  border-radius: 0.3rem;
}

.chat_header {
  width: inherit;
  height: 3rem;

  background-color: $white-1;
  text-align: center;
  position: fixed;
  display: block;
  border-radius: 0rem 0.3rem 0rem 0rem;
  border-bottom: 1.5px solid $silver;
}
.iconBtn {
  margin-top: 5px;
}

.btn {
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  margin-right: 20px;
  background-color: lightgrey;
  outline: none;
}
