@import "../../Constant/colors.module.scss";

body {
  background-image: url("../../Assets/Images/Signup_Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.signupForm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
  margin: auto;
  text-align: center;
  padding: 30px;
  width: 25%;
  min-width: 330px;
  max-height: 410px;
  overflow: auto;
}

.signupForm_link {
  width: 100%;
  text-decoration: "none";
  color: "#303f9f";
  user-select: none;
}

.signupForm_checkIcon {
  vertical-align: middle;
  display: inline-flex;
  color: $green-1;
}
.signupForm_emailIcon {
  margin-right: 1%;
}
.signupForm_loader {
  margin-top: 5%;
}
.signupForm_text__warning {
  color: $red;
  font-size: 0.9rem;
}
.signupForm_notification__primary {
  font-size: 1rem;
  color: $green-1;
}
.signupForm_notification__secondary {
  font-size: 0.9rem;
  color: $grey;
}
