@import "../../Constant/colors.module.scss";
.sendBtn {
  color: $grey;
  cursor: pointer;
  transition: 1s;
  right: 7%;
  bottom: 10%;
  position: absolute;
}
.sendBtn:hover {
  color: $blue;
}
.container {
  position: fixed;
  height: 25%;
  box-sizing: border-box;
  width: 50%;
  border: 0.05rem solid $light-grey;
  background-color: $white-1;
  border-radius: 0rem 0rem 0.3rem 0rem;
}
.chat_box {
  width: calc(100% - 25px);
}
