.sendBtn {
  color: grey;
  cursor: pointer;
  transition: 1s;
  right: 7%;
  bottom: 10%;
  position: absolute;
}
.sendBtn:hover {
  color: #00c1ff;
}
.chatTextBoxContainer {
  position: fixed;
  height: 20%;
  box-sizing: border-box;
  width: 50%;
  border: 0.05rem solid lightgray;
  background-color: rgb(247, 247, 247);
  border-radius: 0rem 0rem 0.3rem 0rem;
}
.chatTextBox {
  width: calc(100% - 25px);
}
