@import "../../Constant/colors.module.scss";
.chatBox {
  overflow: hidden;
  position: fixed;
  height: 25%;
  box-sizing: border-box;
  width: 50%;
  border: 0.05rem solid $light-grey;
  background-color: $white-1;
  border-radius: 0rem 0rem 0.3rem 0rem;
  min-width: 400px;
}

.chatBox_submitBtn {
  color: $grey;
  cursor: pointer;
  transition: 1s;
  right: 7%;
  bottom: 10%;
  position: absolute;
}
.chatBox_submitBtn:hover {
  color: $blue;
}
