@import "../../Constant/colors.module.scss";
.userMenu_item {
  font-size: 0.85rem;
  margin-right: 5px;
}
.userMenu_AccountIcon {
  margin-right: 10px;
  color: $black-2;
}
.userMenu_SignOutIcon {
  margin-right: 10px;
  color: $red-1;
}
