body {
  background-image: url("../Assets/SignUpBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.paper {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
  width: 40%;
}
.form {
  width: 100%;
}

.hasAccountHeader {
  padding-top: 5%;
  width: 100%;
}
.loginLink {
  width: 100%;
  text-decoration: "none";
  color: "#303f9f";
}
.errorText {
  padding-top: 5%;
  text-align: center;
  color: tomato;
}
.icon {
  vertical-align: middle;
  display: inline-flex;
}
